<div class="about-main">
  <h2>Yugaの質問箱って？</h2>
  <br>
  <p>
    せっかく情報学科にいるのだから何かそれっぽいことをしようと思い、ボート部の長期オフ(2週間)(一年通じて最大)を利用して、Ruby on rails で作りました。色々質問してください！
    なお、勉強途中なので、一般に出回っている質問箱ほどのクオリティーではないです。なので、回答はスクショとハッシュタグを利用します。
  </p>
<br>
<p>下の画像は全日本新人戦主権8+予選　後ろから二番目で漕いでるのが僕です</p>

  <img class="about-img" src="/boat.png">
  <p></p>
  <a href="http://kyoto-univ-rowing.com/">京大ボート部はこちら</a>
</div>
